@charset "UTF-8";
/**
 * 不管多大的屏幕，必须是比例对的，而且是一屏能展示下
 * 单位转换：以vh来作为单位计算，设计稿是 1920x1080，100vh=1080px, 1vh=10.8px
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #00010a;
  color: #fff; }

a {
  text-decoration: none; }

@font-face {
  font-family: "DigifaceWide";
  src: url("font/DigifaceWide.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.pos-a {
  position: absolute; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-item {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto; }

.img-pre-loader {
  position: absolute;
  z-index: -1;
  visibility: hidden; }

.wrapper {
  width: 177.77778vh;
  height: 100vh;
  left: 50%;
  top: 0;
  background: url("../img/hades/page-bg.jpg") no-repeat center top;
  background-size: 100% 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.title {
  text-align: center;
  font-size: 2.96296vh;
  font-weight: normal; }

.jump {
  left: 7.40741vh;
  top: 12.03704vh;
  width: 38.88889vh;
  height: 25.92593vh; }

.login {
  left: 5.92593vh;
  top: 40.27778vh; }
  .login-list {
    margin: 3.7037vh 0 0 17.59259vh; }
  .login-item {
    position: relative;
    margin-bottom: 2.77778vh;
    width: 14.44444vh;
    height: 13.88889vh;
    color: #00b0c7;
    font-size: 1.66667vh;
    text-align: center;
    line-height: 1.4;
    background: url("../img/hades/login-bg-0.png") no-repeat center center;
    background-size: cover;
    -webkit-animation: loginProcess 8s linear 0.5s infinite;
    animation: loginProcess 8s linear 0.5s infinite; }
    .login-item > div {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-family: DigifaceWide, sans-serif; }

@-webkit-keyframes loginProcess {
  0% {
    background-image: url("../img/hades/login-bg-0.png"); }
  12.5% {
    background-image: url("../img/hades/login-bg-1.png"); }
  25% {
    background-image: url("../img/hades/login-bg-2.png"); }
  37.5% {
    background-image: url("../img/hades/login-bg-3.png"); }
  50% {
    background-image: url("../img/hades/login-bg-4.png"); }
  62.5% {
    background-image: url("../img/hades/login-bg-5.png"); }
  75% {
    background-image: url("../img/hades/login-bg-6.png"); }
  87.5% {
    background-image: url("../img/hades/login-bg-7.png"); }
  100% {
    background-image: url("../img/hades/login-bg-8.png"); } }

@keyframes loginProcess {
  0% {
    background-image: url("../img/hades/login-bg-0.png"); }
  12.5% {
    background-image: url("../img/hades/login-bg-1.png"); }
  25% {
    background-image: url("../img/hades/login-bg-2.png"); }
  37.5% {
    background-image: url("../img/hades/login-bg-3.png"); }
  50% {
    background-image: url("../img/hades/login-bg-4.png"); }
  62.5% {
    background-image: url("../img/hades/login-bg-5.png"); }
  75% {
    background-image: url("../img/hades/login-bg-6.png"); }
  87.5% {
    background-image: url("../img/hades/login-bg-7.png"); }
  100% {
    background-image: url("../img/hades/login-bg-8.png"); } }

.attack {
  top: 11.66667vh;
  left: 50.18519vh; }
  .attack-item {
    float: left;
    position: relative;
    margin-right: 3.7037vh;
    width: 12.40741vh;
    height: 11.2037vh;
    color: #fff;
    font-size: 1.55vh;
    text-align: center;
    line-height: 1.3;
    background: url("../img/hades/attack-bg-0.png") no-repeat center center;
    background-size: cover;
    -webkit-animation: attackProcess 23s linear 0.5s infinite;
    animation: attackProcess 23s linear 0.5s infinite; }
    .attack-item > div {
      margin-top: 0.46296vh;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-family: DigifaceWide, sans-serif; }

@-webkit-keyframes attackProcess {
  0% {
    background-image: url("../img/hades/attack-bg-0.png"); }
  4.34% {
    background-image: url("../img/hades/attack-bg-1.png"); }
  8.68% {
    background-image: url("../img/hades/attack-bg-2.png"); }
  13.02% {
    background-image: url("../img/hades/attack-bg-3.png"); }
  17.36% {
    background-image: url("../img/hades/attack-bg-4.png"); }
  21.7% {
    background-image: url("../img/hades/attack-bg-5.png"); }
  26.04% {
    background-image: url("../img/hades/attack-bg-6.png"); }
  30.38% {
    background-image: url("../img/hades/attack-bg-7.png"); }
  34.72% {
    background-image: url("../img/hades/attack-bg-8.png"); }
  39.06% {
    background-image: url("../img/hades/attack-bg-9.png"); }
  43.4% {
    background-image: url("../img/hades/attack-bg-10.png"); }
  47.74% {
    background-image: url("../img/hades/attack-bg-11.png"); }
  52.08% {
    background-image: url("../img/hades/attack-bg-12.png"); }
  56.42% {
    background-image: url("../img/hades/attack-bg-13.png"); }
  60.76% {
    background-image: url("../img/hades/attack-bg-14.png"); }
  65.1% {
    background-image: url("../img/hades/attack-bg-15.png"); }
  69.44% {
    background-image: url("../img/hades/attack-bg-16.png"); }
  73.78% {
    background-image: url("../img/hades/attack-bg-17.png"); }
  78.12% {
    background-image: url("../img/hades/attack-bg-18.png"); }
  82.46% {
    background-image: url("../img/hades/attack-bg-19.png"); }
  86.8% {
    background-image: url("../img/hades/attack-bg-20.png"); }
  91.14% {
    background-image: url("../img/hades/attack-bg-21.png"); }
  95.48% {
    background-image: url("../img/hades/attack-bg-22.png"); }
  99.82% {
    background-image: url("../img/hades/attack-bg-23.png"); } }

@keyframes attackProcess {
  0% {
    background-image: url("../img/hades/attack-bg-0.png"); }
  4.34% {
    background-image: url("../img/hades/attack-bg-1.png"); }
  8.68% {
    background-image: url("../img/hades/attack-bg-2.png"); }
  13.02% {
    background-image: url("../img/hades/attack-bg-3.png"); }
  17.36% {
    background-image: url("../img/hades/attack-bg-4.png"); }
  21.7% {
    background-image: url("../img/hades/attack-bg-5.png"); }
  26.04% {
    background-image: url("../img/hades/attack-bg-6.png"); }
  30.38% {
    background-image: url("../img/hades/attack-bg-7.png"); }
  34.72% {
    background-image: url("../img/hades/attack-bg-8.png"); }
  39.06% {
    background-image: url("../img/hades/attack-bg-9.png"); }
  43.4% {
    background-image: url("../img/hades/attack-bg-10.png"); }
  47.74% {
    background-image: url("../img/hades/attack-bg-11.png"); }
  52.08% {
    background-image: url("../img/hades/attack-bg-12.png"); }
  56.42% {
    background-image: url("../img/hades/attack-bg-13.png"); }
  60.76% {
    background-image: url("../img/hades/attack-bg-14.png"); }
  65.1% {
    background-image: url("../img/hades/attack-bg-15.png"); }
  69.44% {
    background-image: url("../img/hades/attack-bg-16.png"); }
  73.78% {
    background-image: url("../img/hades/attack-bg-17.png"); }
  78.12% {
    background-image: url("../img/hades/attack-bg-18.png"); }
  82.46% {
    background-image: url("../img/hades/attack-bg-19.png"); }
  86.8% {
    background-image: url("../img/hades/attack-bg-20.png"); }
  91.14% {
    background-image: url("../img/hades/attack-bg-21.png"); }
  95.48% {
    background-image: url("../img/hades/attack-bg-22.png"); }
  99.82% {
    background-image: url("../img/hades/attack-bg-23.png"); } }

.country {
  top: 26.85185vh;
  left: 50.18519vh;
  width: 75.46296vh; }
  .country-label {
    margin-bottom: 1.48148vh;
    text-align: right;
    font-size: 1.11111vh;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
    .country-label-item {
      position: relative;
      display: inline-block;
      margin-left: 0.92593vh;
      padding-left: 2.03704vh;
      color: #fff; }
      .country-label-item > span {
        position: absolute;
        left: 0;
        width: 1.2963vh;
        height: 1.2963vh;
        background: currentColor; }
  .country-chart {
    position: relative;
    border-width: 0.37037vh 0 0.37037vh 1px;
    border-style: solid;
    border-color: #2e8dad #061b47;
    height: 16.85185vh; }
    .country-chart::after, .country-chart::before {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      border-width: 0.18519vh 0 0;
      border-color: #2e8dad; }
    .country-chart::before {
      top: 45%;
      border-style: solid; }
    .country-chart::after {
      top: 55%;
      border-style: dotted; }
  .country .icon-arrow {
    position: absolute;
    right: 0;
    top: 55%;
    width: 1.11111vh;
    height: 0.92593vh;
    margin-top: -0.37037vh;
    margin-right: -0.09259vh;
    background: url("../img/hades/icon-arrow-r.png") no-repeat right center;
    background-size: cover; }
  .country-chart-box {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .country-chart-column {
    position: relative;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    border-right: 1px solid #061b47; }
    .country-chart-column:last-child .country-chart-scale {
      display: none; }
  .country-chart-scale {
    position: absolute;
    bottom: -2.77778vh;
    right: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    color: #2e8dad;
    font-size: 1.66667vh; }
  .country-chart-bubble {
    position: absolute;
    width: 1.85185vh;
    height: 1.85185vh;
    background: #fff;
    border-radius: 50%;
    -webkit-animation: zoomIn 4s linear;
    animation: zoomIn 4s linear; }
    .country-chart-bubble.size-m {
      -webkit-transform: scale(1);
      transform: scale(1);
      top: 10%;
      left: 50%; }
    .country-chart-bubble.size-l {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      top: 30%;
      left: 50%; }
    .country-chart-bubble.size-xl {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      top: 40%;
      left: 100%; }
    .country-chart-bubble.size-s {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      top: 60%;
      left: 80%; }
    .country-chart-bubble.size-xs {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      top: 80%;
      left: 20%; }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.violence {
  width: 75.46296vh;
  top: 52.31481vh;
  left: 50.18519vh; }
  .violence-title {
    font-size: 2.03704vh;
    color: #fff; }
  .violence-chart {
    position: relative; }
  .violence-color-1 {
    color: #01b4c8; }
  .violence-color-2 {
    color: #013c4e; }
  .violence-label {
    position: absolute;
    right: 0;
    top: 0.55556vh;
    font-size: 1.11111vh;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
    .violence-label-item {
      position: relative;
      display: inline-block;
      margin-left: 1.85185vh;
      padding-left: 3.7037vh;
      color: #fff; }
      .violence-label-item > span {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -0.37037vh;
        width: 2.5vh;
        height: 0.55556vh;
        background: currentColor; }

.leak {
  top: 81.66667vh;
  left: 50.18519vh; }
  .leak-item {
    float: left;
    position: relative;
    margin-right: 0.37037vh;
    width: 18.61111vh;
    height: 11.2963vh;
    color: #fff;
    font-size: 1.2963vh;
    text-align: center;
    line-height: 1;
    background: url("../img/hades/leak-bg-0.png") no-repeat center center;
    background-size: cover;
    -webkit-animation: leakProcess 5s linear 0.5s infinite;
    animation: leakProcess 5s linear 0.5s infinite; }
    .leak-item::after {
      content: '';
      position: absolute;
      height: 9.25926vh;
      width: 9.25926vh;
      border: 0.55556vh solid #01b4c8;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      margin-top: -4.62963vh;
      margin-left: -4.62963vh;
      -webkit-box-shadow: inset 0 0 30px 3px rgba(1, 180, 200, 0.7);
      box-shadow: inset 0 0 30px 3px rgba(1, 180, 200, 0.7);
      -webkit-animation: leakFlash 2s linear infinite;
      animation: leakFlash 2s linear infinite; }
    .leak-item > div {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-animation: fadeIn 1s linear;
      animation: fadeIn 1s linear; }

@-webkit-keyframes leakFlash {
  from, 50%, to {
    -webkit-box-shadow: inset 0 0 30px 3px rgba(1, 180, 200, 0.7);
    box-shadow: inset 0 0 30px 3px rgba(1, 180, 200, 0.7); }
  25%, 75% {
    -webkit-box-shadow: inset 0 0 30px 3px rgba(1, 180, 200, 0);
    box-shadow: inset 0 0 30px 3px rgba(1, 180, 200, 0); } }

@keyframes leakFlash {
  from, 50%, to {
    -webkit-box-shadow: inset 0 0 30px 3px rgba(1, 180, 200, 0.7);
    box-shadow: inset 0 0 30px 3px rgba(1, 180, 200, 0.7); }
  25%, 75% {
    -webkit-box-shadow: inset 0 0 30px 3px rgba(1, 180, 200, 0);
    box-shadow: inset 0 0 30px 3px rgba(1, 180, 200, 0); } }

@-webkit-keyframes leakProcess {
  0% {
    background-image: url("../img/hades/leak-bg-0.png"); }
  20% {
    background-image: url("../img/hades/leak-bg-1.png"); }
  40% {
    background-image: url("../img/hades/leak-bg-2.png"); }
  60% {
    background-image: url("../img/hades/leak-bg-3.png"); }
  80% {
    background-image: url("../img/hades/leak-bg-4.png"); }
  100% {
    background-image: url("../img/hades/leak-bg-5.png"); } }

@keyframes leakProcess {
  0% {
    background-image: url("../img/hades/leak-bg-0.png"); }
  20% {
    background-image: url("../img/hades/leak-bg-1.png"); }
  40% {
    background-image: url("../img/hades/leak-bg-2.png"); }
  60% {
    background-image: url("../img/hades/leak-bg-3.png"); }
  80% {
    background-image: url("../img/hades/leak-bg-4.png"); }
  100% {
    background-image: url("../img/hades/leak-bg-5.png"); } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.channel {
  top: 5.18519vh;
  left: 130.55556vh; }

.channel-store {
  position: absolute;
  width: 6.85185vh;
  height: 6.85185vh;
  border: 0.37037vh solid #02aec2;
  border-radius: 50%;
  background: #010d1c no-repeat center center;
  background-size: 4.07407vh auto;
  -webkit-transition: background 2s;
  transition: background 2s; }
  .channel-store:nth-child(1) {
    top: 9.44444vh;
    left: 5.74074vh; }
  .channel-store:nth-child(2) {
    top: 9.44444vh;
    left: 16.85185vh; }
  .channel-store:nth-child(3) {
    top: 9.44444vh;
    left: 27.77778vh; }
  .channel-store:nth-child(4) {
    top: 18.33333vh;
    left: 32.40741vh; }
  .channel-store:nth-child(5) {
    top: 29.35185vh;
    left: 32.40741vh; }
  .channel-store:nth-child(6) {
    top: 40.46296vh;
    left: 32.40741vh; }

.channel-circle {
  position: absolute;
  left: 2.77778vh;
  top: 21.57407vh;
  z-index: 2;
  width: 22.40741vh;
  height: 22.40741vh;
  background: url("../img/hades/channel-scan-circle.png") no-repeat center center;
  background-size: cover;
  -webkit-animation: radarScan 4s linear 0.5s infinite;
  animation: radarScan 4s linear 0.5s infinite; }

@-webkit-keyframes radarScan {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes radarScan {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.channel-phone {
  position: absolute;
  z-index: 3;
  top: 27.77778vh;
  left: 11.01852vh;
  width: 5.92593vh;
  height: 10vh;
  background: url("../img/hades/channel-scan-phone.png") no-repeat center center;
  background-size: cover; }
  .channel-phone-scan {
    position: relative;
    margin: 1.01852vh 0 0 0.74074vh;
    overflow: hidden;
    width: 4.35185vh;
    height: 6.85185vh;
    background: rgba(0, 0, 0, 0.5); }
  .channel-phone-needle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2.59259vh;
    border-bottom: 1px solid #01b4c8;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(1, 180, 200, 0.5)), to(rgba(1, 180, 200, 0)));
    background: linear-gradient(to top, rgba(1, 180, 200, 0.5), rgba(1, 180, 200, 0));
    -webkit-animation: channelNeedleMove 2s linear 0.5s infinite forwards;
    animation: channelNeedleMove 2s linear 0.5s infinite forwards; }

@-webkit-keyframes channelNeedleMove {
  to {
    -webkit-transform: translateY(60px);
    transform: translateY(60px); } }

@keyframes channelNeedleMove {
  to {
    -webkit-transform: translateY(60px);
    transform: translateY(60px); } }

.host {
  width: 41.48148vh;
  left: 130.55556vh;
  top: 62.03704vh;
  font-size: 1.11111vh; }
  .host-color-1 {
    color: #01dcfc; }
  .host-color-2 {
    color: #9a02fa; }
  .host-color-3 {
    color: #fcb508; }
  .host-color-4 {
    color: #00c08d; }
  .host-label {
    position: absolute;
    right: 3.7037vh;
    top: 5.74074vh;
    text-align: right;
    font-size: 1.11111vh;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
    .host-label-item {
      position: relative;
      display: inline-block;
      margin-left: 0.46296vh;
      padding-left: 2.03704vh;
      color: #fff; }
      .host-label-item > span {
        position: absolute;
        left: 0;
        width: 1.2963vh;
        height: 1.2963vh;
        background: currentColor; }
  .host-list {
    position: absolute;
    left: 4.16667vh;
    top: 10.18519vh;
    width: 33.33333vh; }
  .host-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.22222vh; }
  .host-risk-ip {
    width: 12.03704vh;
    text-align: right;
    padding-right: 0.92593vh; }
  .host-risk-value {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    position: relative;
    overflow-x: hidden; }
    .host-risk-value-i {
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      background: currentColor;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-animation: hostProcess 2s linear;
      animation: hostProcess 2s linear; }
      .host-risk-value-i.host-color-1 {
        z-index: 4;
        width: 20%;
        height: 1.85185vh; }
      .host-risk-value-i.host-color-2 {
        z-index: 3;
        width: 40%;
        height: 1.57407vh; }
      .host-risk-value-i.host-color-3 {
        z-index: 2;
        width: 60%;
        height: 1.2963vh; }
      .host-risk-value-i.host-color-4 {
        z-index: 1;
        width: 80%;
        height: 1.01852vh; }
    .host-risk-value-sum {
      width: 3.7037vh;
      text-align: right;
      color: #01dcfc; }

@-webkit-keyframes hostProcess {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes hostProcess {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
