@charset "UTF-8";
/**
 * 不管多大的屏幕，必须是比例对的，而且是一屏能展示下
 * 单位转换：以vh来作为单位计算，设计稿是 1920x1080，100vh=1080px, 1vh=10.8px
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #00010a;
  color: #fff; }

a {
  text-decoration: none; }

@font-face {
  font-family: "DigifaceWide";
  src: url("font/DigifaceWide.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.pos-a {
  position: absolute; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-item {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto; }

.wrapper {
  width: 177.77778vh;
  height: 100vh;
  left: 50%;
  top: 0;
  background: url("../img/page-bg.jpg") no-repeat center top;
  background-size: 100% 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.title {
  text-align: center;
  font-size: 2.96296vh;
  font-weight: normal; }

.real-assets {
  left: 9.81481vh;
  top: 13.88889vh; }

.real-assets-i {
  position: relative;
  width: 37.5vh;
  height: 8.05556vh;
  margin-bottom: 0.92593vh;
  background: url("../img/assets-item-bg.png") no-repeat center center;
  background-size: 100% 100%; }

.real-assets-label {
  padding-top: 0.92593vh;
  padding-left: 4.62963vh;
  font-size: 2.40741vh;
  color: #2e8dad; }

.real-assets-sum {
  padding-top: 0.92593vh;
  padding-left: 3.88889vh;
  font-size: 3.33333vh;
  color: #aeefff;
  font-family: DigifaceWide, sans-serif; }

.real-assets-scale {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 34.81481vh;
  height: 0.37037vh;
  overflow: hidden; }

.real-assets-scale::after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  background: -webkit-gradient(linear, right top, left top, color-stop(0, #fff), color-stop(20%, #2e8dad), to(#2e8dad));
  background: linear-gradient(to left, #fff 0, #2e8dad 20%, #2e8dad 100%);
  -webkit-animation: assetsProcess 2s linear 0.5s infinite;
  animation: assetsProcess 2s linear 0.5s infinite; }

@-webkit-keyframes assetsProcess {
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes assetsProcess {
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.vpn-login {
  height: 17.59259vh;
  width: 35.55556vh;
  left: 11.11111vh;
  top: 48.51852vh; }

.vpn-unusual {
  height: 19.44444vh;
  width: 35.55556vh;
  left: 11.11111vh;
  top: 72.22222vh; }

.vpn-unusual-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.vpn-unusual-legend {
  position: absolute;
  right: 1.48148vh;
  top: 0.74074vh;
  font-size: 0;
  text-align: right; }

.vpn-unusual-legend-i {
  position: relative;
  display: inline-block;
  padding-left: 1.85185vh;
  margin-left: 1.85185vh; }
  .vpn-unusual-legend-i em {
    font-size: 1.11111vh;
    display: inline-block;
    -webkit-transform: scale(0.83333);
    transform: scale(0.83333);
    font-style: normal; }

.vpn-unusual-legend-i::before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  width: 0.92593vh;
  height: 0.92593vh;
  margin-top: -0.55556vh;
  border-radius: 50%;
  background: #e1f530;
  -webkit-box-shadow: 0 0 3px 0 #e1f530;
  box-shadow: 0 0 3px 0 #e1f530; }

.vpn-unusual-legend-warn::before {
  background: #fd2d1f;
  -webkit-box-shadow: 0 0 3px 0 #fd2d1f;
  box-shadow: 0 0 3px 0 #fd2d1f; }

.attack-wrapper {
  height: 47.03704vh;
  width: 73.51852vh;
  left: 50%;
  top: 13.88889vh;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.attack-tit {
  z-index: 3;
  color: #fff;
  font-size: 2.59259vh;
  letter-spacing: 0.05em;
  left: 2.5vh;
  top: 0; }

.attack {
  z-index: 2;
  width: 100%;
  height: 100%; }

.country {
  height: 16.48148vh;
  width: 73.51852vh;
  left: 50%;
  top: 61.57407vh;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.country-tit,
.category-tit {
  margin: 1.85185vh 0 0 2.96296vh;
  font-size: 2.03704vh; }

.country-box {
  margin-top: 1.85185vh;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.country-i {
  height: 2.59259vh;
  width: 25%;
  padding-right: 1.11111vh;
  margin-bottom: 3.51852vh; }

.country-i .flex-item {
  position: relative; }

.country-ico {
  width: 3.7037vh;
  margin-right: 0.92593vh; }

.country-percent {
  position: relative;
  width: 100%;
  height: 0.92593vh;
  background: #0f3c60;
  border-radius: 0.46296vh; }

.country-percent em {
  position: absolute;
  z-index: 2;
  right: 3px;
  top: 0;
  color: #fff;
  font-size: 1.11111vh;
  display: inline-block;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  font-style: normal;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.country-percent-bar {
  position: relative;
  width: 0;
  height: 0.92593vh;
  border-radius: 0.46296vh;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 153, 255, 0.3);
  box-shadow: 0 0 2px 1px rgba(0, 153, 255, 0.3);
  background: repeating-linear-gradient(-45deg, #249fab, #249fab 0.46296vh, #2dafb9 0.46296vh, #2dafb9 0.92593vh) repeat-x; }

.country-name {
  position: absolute;
  left: 0;
  bottom: 0; }
  .country-name em {
    font-size: 1.11111vh;
    display: inline-block;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    font-style: normal;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%; }

.category {
  height: 17.03704vh;
  width: 73.51852vh;
  left: 50%;
  top: 78.24074vh;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: rgba(15, 60, 96, 0.3);
  border-top: 2px solid #0f3c60; }

.category::after,
.category::before {
  display: block;
  content: '';
  position: absolute;
  width: 2.40741vh;
  height: 4px;
  background: #2e87a5;
  top: -2px; }

.category::after {
  right: 0; }

.category::before {
  left: 0; }

.category-legend {
  position: absolute;
  text-align: right;
  right: 2.77778vh;
  top: 1.94444vh;
  font-size: 0; }

.category-legend-i {
  position: relative;
  display: inline-block;
  padding-left: 1.85185vh;
  margin-left: 1.85185vh;
  font-size: 1.2963vh; }

.category-legend-i span {
  position: absolute;
  left: 0;
  top: 0.18519vh;
  display: block;
  width: 0.92593vh;
  height: 0.92593vh; }

.category-box {
  position: absolute;
  bottom: 1.85185vh;
  left: 0;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0 2.96296vh; }

.category-i {
  position: relative;
  width: 8.7037vh;
  height: 8.7037vh;
  line-height: 7.96296vh;
  font-size: 1.94444vh;
  text-align: center; }

.circle-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.category-i-txt {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.94444vh; }

.circle-wrapper circle {
  -webkit-transition: stroke-dasharray 1s;
  transition: stroke-dasharray 1s; }

.code-scan {
  height: 9.25926vh;
  width: 38.88889vh;
  right: 8.98148vh;
  top: 13.42593vh; }

.code-monitor {
  overflow: hidden; }

.code-monitor-i {
  width: 18.51852vh;
  height: 8.88889vh;
  margin-bottom: 0.74074vh;
  border: 1px solid #0f3c60;
  float: left;
  padding: 0.74074vh 0.74074vh 0; }

.code-monitor-i:nth-child(2n) {
  float: right; }

.code-monitor-tit {
  font-size: 1.66667vh;
  color: #2e8dad; }

.code-monitor-sum {
  margin-top: 0.92593vh;
  font-size: 2.40741vh;
  color: #aeefff; }

.code-monitor-process {
  margin-top: 0.92593vh;
  position: relative;
  height: 1.11111vh;
  background: #1f2123;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1px 5px rgba(0, 0, 0, 0.25);
  overflow-x: hidden; }

.code-monitor-process-bar {
  position: absolute;
  width: 96%;
  height: 80%;
  top: 10%;
  left: 2%;
  background: repeating-linear-gradient(to right, #18b4ff, #18b4ff 3px, #1f2123 3px, #1f2123 4px) repeat-x; }

.code-monitor-process-mask {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  border-radius: 2px;
  background: #1f2123;
  -webkit-box-shadow: inset 0 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1px 5px rgba(0, 0, 0, 0.25);
  -webkit-animation: codeProcess 15s steps(25, start) 0.5s infinite;
  animation: codeProcess 15s steps(25, start) 0.5s infinite; }

@-webkit-keyframes codeProcess {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

@keyframes codeProcess {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

.radar-box {
  position: absolute;
  top: 21.48148vh;
  left: 0.92593vh; }

.radar {
  position: relative;
  width: 22.59259vh;
  height: 22.59259vh;
  background: url("../img/radar.png") no-repeat center center;
  background-size: cover; }

.radar-inner {
  position: absolute;
  left: 4.35185vh;
  top: 4.35185vh;
  width: 13.42593vh;
  height: 13.42593vh;
  background: transparent; }

.radar-scan-hand {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/radar-scan-hand-s.png") no-repeat center center;
  background-size: cover;
  -webkit-animation: radarScan 3s linear 0.5s infinite;
  animation: radarScan 3s linear 0.5s infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes radarScan {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes radarScan {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.radar-pop {
  position: absolute;
  left: 20vh;
  top: 5.18519vh;
  width: 18.14815vh;
  height: 12.68519vh;
  background: url("../img/radar-catch-pop.png") no-repeat left top;
  background-size: cover; }

.radar-pop-info {
  position: absolute;
  top: 2.22222vh;
  left: 6.01852vh;
  line-height: 1.5;
  color: #34b9c2;
  font-size: 1.2963vh;
  word-break: break-all;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }

.v-hidden {
  visibility: hidden; }

.radar-pop-tip {
  position: absolute;
  right: 0.92593vh;
  bottom: 1.48148vh;
  border: 1px solid currentColor;
  padding: 0 0.2em;
  line-height: 2.22222vh;
  text-align: center;
  font-size: 1.2963vh;
  -webkit-transform: scale(0.9);
  transform: scale(0.9); }

.radar-pop-tip-0 {
  color: #4df64f; }

.radar-pop-tip-1 {
  color: #f54448; }

.radar-pop-tip-2 {
  color: #fbd650; }

.radar-point {
  position: absolute;
  z-index: 3;
  background: no-repeat center center;
  background-size: cover;
  width: 1.85185vh;
  height: 1.85185vh; }

.radar-point-xs {
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

.radar-point-sm {
  -webkit-transform: scale(0.6);
  transform: scale(0.6); }

.radar-point-m {
  -webkit-transform: scale(0.7);
  transform: scale(0.7); }

.radar-point-l {
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }

.radar-point-warn {
  left: 5vh;
  top: 5vh;
  background-image: url("../img/radar-point-warn.png"); }

.radar-point-normal {
  left: 15vh;
  top: 15vh;
  background-image: url("../img/radar-point-normal.png"); }

.radar-catch::after {
  content: '';
  position: absolute;
  z-index: 4;
  width: 4.81481vh;
  height: 4.81481vh;
  top: -1.57407vh;
  left: -1.57407vh;
  background: url("../img/radar-catch.png") no-repeat center center;
  background-size: cover; }

.issues {
  width: 35.18519vh;
  right: 10.37037vh;
  top: 67.87037vh; }

.issues-hd {
  line-height: 3.51852vh;
  font-size: 1.48148vh;
  text-align: center;
  background: #0f3c60; }

.issues-box {
  position: relative;
  height: 18.98148vh; }

.issues-ls {
  overflow: hidden;
  height: 18.98148vh; }

.issues-i {
  display: block;
  color: #fff;
  font-size: 1.2963vh;
  line-height: 2.40741vh;
  padding: 0 1.48148vh;
  background: rgba(15, 60, 96, 0.2);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.issues-i-warn {
  color: #fc4513; }

.issues-i:nth-child(2n+1) {
  background: rgba(15, 60, 96, 0.4); }
